{% extends "security/base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field %}

{% block content %}
<section id = "change_password_box">
{% include "security/_messages.html" %}
<div class = "section1">
<h1>{{ _fsdomain('Change password') }}</h1></div>
<div class = "section2">
<form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
  {{ change_password_form.hidden_tag() }}
  {{ render_field_with_errors(change_password_form.password) }}
  {{ render_field_with_errors(change_password_form.new_password) }}
  {{ render_field_with_errors(change_password_form.new_password_confirm) }}
  {{ render_field(change_password_form.submit) }}</div>
</form></section>
{% endblock %}
