{% extends "layout.html" %}

{% block title %}
Write a new note!
{% endblock %}

{% block main %}

<body>
    <div class="other_box">
        <div class="other_box_over">
        <div class="welcome">
            <header>
                <div class="mininav">
                    <ul>
                        <li>
                            <a href={{ url_for('home') }}><i class="bi bi-house-fill"></i>&emsp;Home</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for('messages') }}><i class="bi bi-envelope"></i>&emsp;Mail</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for('notes') }}><i class="bi bi-journals"></i>&emsp;Notes</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp;Password</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp;Logout</a>&emsp;&emsp;
                        </li>
                    </ul>
                </div>
            </header>
        </div>
        
       <div class = "messages_table_container">
        {% if messages_type == 'sent' %}
        {% set other = 'received' %}
        {% set other_heading = 'To' %}
        {% else %}
        {% set other = 'sent' %}
        {% set other_heading = 'From' %}
        {% endif %}
        <div class = "current_messages_button"><button class="btn btn-secondary">{{messages_type}}</button></div>
        <div class = "other_message_button"><a href="{{ url_for('messages', messages_type = other)}}"> <button class="btn btn-primary">{{other}}</button></a></div>
                <div class = "new_message_button"><a href="{{ url_for('new_message') }}"> <button class="btn btn-primary">Write a Message</button></a></div>
<div class = "break"></div>
<div class="messages_table">      
<table class="table table-sm"">
                    <thead>
                        <tr>
                            <th scope="col">{{other_heading}}</th>
                            <th scope="col">Date</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for message in messages %}
                        {% if messages_type == 'received' %}
                        {% set other_user = message.receiver %}
                        {% else %}
                        {% set other_user = message.sender %}
                        {% endif %}
                        <tr>
                            <td>{{other_user}}</td>
                            <td>{{ message.date }}</td>
                            <td>{{ message.subject}}</td>
                            <td>{{ message.content }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
         
        </div>
    </div>

        <div class = "messages_buttons">
         
        <form action= {{ url_for('message_search') }} id="search_messages" method = "POST" >
            <input name="search_messages_sender" id="search_messages_sender" placeholder="Sender" type="text">
            &emsp; <input name="search_messages_receiver" id="search_messages_receiver" placeholder="Recipient" type="text">
            &emsp;<input name="search_messages_keyword" id="search_messages_keyword" placeholder="Search Keyword" type="text">
            &emsp; <input name="search_messages_date" id="search_messages_date" placeholder="Search Date" type="date">
            &emsp; <input type="submit" value = "Search Messages"> 
         </form>
        </div>
    </div>
</div>
</div>
</body>
{% endblock %}
<footer><div class = "image_credit"> Image credit: Wassily Kandinsky "Color Study. Squares with Concentric Circles", 1913 <div>
</footer>