{% extends "layout.html" %}

{% block title %}
Write a new note!
{% endblock %}

{% block main %}
<body>
    <body>
        <div class = "other_box">
            <div class="welcome">
                <header>
                    <div class = "mininav">
                        <ul>
                            <li>
                                <a href={{ url_for('home') }}><i class="bi bi-house-fill"></i>&emsp;Home</a>&emsp;&emsp;
                            </li>
                            <li>
                                <a href={{ url_for('messages') }}><i class="bi bi-envelope"></i>&emsp;Mail</a>&emsp;&emsp;
                            </li>
                            <li>
                                <a href={{ url_for('notes') }}><i class="bi bi-journals"></i>&emsp;Notes</a>&emsp;&emsp;
                            </li>
                            <li>
                                <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp;Password</a>&emsp;&emsp;
                            </li>
                            <li>
                                <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp;Logout</a>&emsp;&emsp;
                            </li>
                        </ul>
                    </div>
                </header>
            </div><div class="other_box_over">
                <div class="note_form_head">
                    <h3>Make a New Note:</h3>
                </div>
                    <div class = "break"></div>
                <div class = "blue_header_short">
              Regarding assignment: (Jinja for assignment)
                <br> from day (Jinja for day number).</div>
                <div class = "break"></div>
          <div class = "note_form">
            <form action="notes.html" id="note" method = "POST" >
                <textarea placeholder="Type your note:" name = "new_note_content"></textarea>
                <div class = "break"></div><br>
      <input type="submit" value = "Submit" width="150px" font-size="15px">
    </form>
            </div></div>
    </body>

{% endblock %}