{% extends "layout.html" %}

{% block title %}
Write a new note!
{% endblock %}

{% block main %}

<body>
    <div class="other_box">
        <div class="other_box_over">
        <div class="welcome">
            <header>
                <div class="mininav">
                    <ul>
                        <li>
                            <a href={{ url_for('home') }}><i class="bi bi-house-fill"></i>&emsp;Home</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for('messages') }}><i class="bi bi-envelope"></i>&emsp;Mail</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for('notes') }}><i class="bi bi-journals"></i>&emsp;Notes</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp;Password</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp;Logout</a>&emsp;&emsp;
                        </li>
                    </ul>
                </div>
            </header>
        </div>

       
            <div class="notes">
                 <div class="messages_table">
                    <div class = "notes_table">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Day</th>
                            <th scope="col">Student</th>
                            <th scope="col">Author</th>
                            <th scope="col">Assignment</th>
                            <th scope="col">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ note.school_day }}</td>
                            <td>{{ note.Student.first_name }}</td>
                            <td>{{ note.author }}</td>
                            <td>{{ note.assignment }}</td>
                            <td>{{ note.content }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </div> 
        <div class = "messages_buttons">

            <form action= {{ url_for('search_notes') }} id="note" method = "POST" >
                <input name="search_notes_author" id="search_notes_author" placeholder="Author" type="text">
                &emsp; <input name="search_notes_keyword" id="search_notes_keyword" placeholder="Search Keyword" type="text">
                &emsp; <input name="search_notes_date" id="search_notes_date" placeholder="Search Date" type="date">
                &emsp; <input name="search_notes_schoolday" id="search_notes_schoolday" placeholder="Search Schoolday" type="text">
                &emsp; <input type="submit" value = "Search Notes"> 
               
        </form>
    
            </div>
</body>
{% endblock %}
<footer><div class = "image_credit"> Image credit: Wassily Kandinsky "Color Study. Squares with Concentric Circles", 1913 <div>
</footer>