/* GLOBAL STYLINGS */
:root {
    --red: #C9414D;
    --orange: #EC7F37;
    --yellow: #E7C335;
    --green: #4FA757;
    --blue: #1C9ACF;
    --purple: #5A00A3;
    --red_grad: rgb(255, 70, 87) radial-gradient(circle, rgba(255, 70, 87, 1) 0%, rgba(255, 0, 22, 1) 46%, rgba(214, 100, 109, 1) 100%);
    --orange_grad: rgb(255, 181, 133) radial-gradient(circle, rgba(255, 181, 133, 1) 0%, rgba(236, 127, 55, 1) 46%, rgba(255, 181, 132, 1) 100%);
    --yellow_grad: rgb(255, 225, 104) radial-gradient(circle, rgba(255, 225, 104, 1) 0%, rgba(231, 195, 53, 1) 46%, rgba(255, 227, 117, 1) 100%);
    --green_grad: rgb(86, 255, 101) radial-gradient(circle, rgba(86, 255, 101, 1) 0%, rgba(79, 167, 87, 1) 46%, rgba(109, 255, 122, 1) 100%);
    --blue_grad: rgb(88, 205, 254) radial-gradient(circle, rgba(88, 205, 254, 1) 0%, rgba(28, 154, 207, 1) 46%, rgba(73, 171, 213, 1) 100%);
    --purple_grad: rgb(187, 134, 231) radial-gradient(circle, rgba(187, 134, 231, 1) 0%, rgba(170, 98, 228, 0.9850140739889706) 46%, rgba(177, 157, 193, 1) 100%);
    --font-size: 1.3rem;
    --font-family: 'Roboto', sans-serif;
    --font-family: 'Ubuntu Mono', monospace;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Global styles all pages  */
body {
    background: rgb(201,65,77);
    background: linear-gradient(90deg, rgba(201,65,77,1) 0%, rgba(231,195,53,1) 50%, rgba(28,154,207,1) 100%);
    padding: 0;
    margin: 0;
    color: black;
    font-size: var(--font-size);
    font-family: monospace;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    color: var(--black);
}

a:hover {
    color: var(--white);
    text-decoration: none;
    list-style-type: none;
}

img {
    width: 100%;
}

#login_box {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin-top: 1.5rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    background-color: var(--green_grad);
    padding: 1rem;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#register_box {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    background-color: var(--green_grad);
    padding: 1rem;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#forgot_password_box {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    background-color: var(--green_grad);
    padding: 1rem;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#verify_box {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    background-color: var(--green_grad);
    padding: 1rem;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#change_password_box {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    background-color: var(--green_grad);
    padding: 1rem;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#password_reset_box {
    display: flex;
    flex-flow: row wrap;
    width: 400px;
    margin-top: 2rem;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-content: center;
    background-color: var(--green_grad);
    padding: 1rem;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.5;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.security_box {
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    justify-content: center;
}

.mascot_box {
    flex-basis: auto;
}

.mascot_box img{
    width: 150px;
}

footer {
    font-size: 14px;
    font-style: bold;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.section1 {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 95%;
    justify-content: center;
    align-content: center;
    background: var(--orange_grad);
    color: black;
    line-height: 2;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section2 {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 95%;
    justify-content: center;
    align-content:center;
    background: var(--yellow_grad);
    color: black;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section3 {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 95%;
    justify-content: center;
    align-content:center;
    background: var(--blue_grad);
    color: black;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.section4 {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 95%;
    justify-content: center;
    align-content:center;
    background: var(--purple_grad);
    color: black;
    line-height: 1.5;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h1 {
    font-size: 120%;
}