/* GLOBAL STYLINGS */
:root {
    --red: #C9414D;
    --orange: #EC7F37;
    --yellow: #E7C335;
    --green: #4FA757;
    --blue: #1C9ACF;
    --purple: #5A00A3;
    --red_grad: rgb(255, 70, 87) radial-gradient(circle, rgba(255, 70, 87, 1) 0%, rgba(255, 0, 22, 1) 46%, rgba(214, 100, 109, 1) 100%);
    --orange_grad: rgb(255, 181, 133) radial-gradient(circle, rgba(255, 181, 133, 1) 0%, rgba(236, 127, 55, 1) 46%, rgba(255, 181, 132, 1) 100%);
    --yellow_grad: rgb(255, 225, 104) radial-gradient(circle, rgba(255, 225, 104, 1) 0%, rgba(231, 195, 53, 1) 46%, rgba(255, 227, 117, 1) 100%);
    --green_grad: rgb(86, 255, 101) radial-gradient(circle, rgba(86, 255, 101, 1) 0%, rgba(79, 167, 87, 1) 46%, rgba(109, 255, 122, 1) 100%);
    --blue_grad: rgb(88, 205, 254) radial-gradient(circle, rgba(88, 205, 254, 1) 0%, rgba(28, 154, 207, 1) 46%, rgba(73, 171, 213, 1) 100%);
    --purple_grad: rgb(187, 134, 231) radial-gradient(circle, rgba(187, 134, 231, 1) 0%, rgba(170, 98, 228, 0.9850140739889706) 46%, rgba(177, 157, 193, 1) 100%);
    --font-size: 1.3rem;
    --font-family: 'Roboto', sans-serif;
    --font-family: 'Ubuntu Mono', monospace;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* Global styles all pages  */
body {
    background: rgb(201, 65, 77);
    background: linear-gradient(90deg, rgba(201, 65, 77, 1) 0%, rgba(231, 195, 53, 1) 50%, rgba(28, 154, 207, 1) 100%);
    padding: 0;
    margin: 0;
    color: black;
    font-size: var(--font-size);
    font-family: monospace;
}

body a {
    color: black;
}

body a:hover {
    color: white;
}

.error_message {
    margin-top: 4rem;
}

/* ***************************** STUDENT MOBILE DIMENSIONS ******************************************* */
@media (min-width: 300px) {

    .mobile_background {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        gap: 10px;
        justify-content: center;
    }

    .index_background_image {
        background-image: url('/static/images/kandinsky_1500.jpg');
        margin: 0.25rem 1rem 1rem 1rem;
        width: 98%;
        min-height: 100vh;
    }

    .index_container_main {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        margin: 0.25rem 1rem 1rem 1rem;
        gap: 10px;
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;
        justify-content: center;
        background: rgb(255, 0, 0);
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.8281513288909313) 17%, rgba(246, 242, 61, 0.8085434857536764) 49%, rgba(61, 79, 246, 0.783333401720063) 89%);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    } 

    .index_item01 {
        background: rgb(232, 14, 34);
        background: radial-gradient(circle, rgba(232, 14, 34, 1) 24%, rgba(231, 195, 53, 0.5676471272102591) 58%, rgba(231, 195, 53, 0.44439782749037116) 100%);
        flex-basis: 100%;
        justify-content: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_banner_image {
        justify-content: center;
        align-content: center;
    }

    .index_banner_image img {
        max-width: 350px;
        align-self: center;
    }

    .student_navbar {
        display: flex;
        flex-basis: 90%;
        align-self: flex-start;
        justify-content: flex-start;
    }

    .student_navbar ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .student_navbar a {
        text-decoration: none;
        font-size: 18px;
        display: block;
    }

    .index_item02 {
        flex-basis: 100%;
        background: var(--blue_grad);
    }

    .index_item03 {
        flex-basis: 100%;
        background: var(--orange_grad);
    }

    .index_item04 {
        flex-basis: 100%;
        background: var(--purple_grad);
    }

    .index_item01 {
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0 auto;
        max-height: 100px;
        width: 98%;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_item02,
    .index_item03,
    .index_item04 {
        flex-basis: 100%;
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        justify-content: center;
        justify-items: center;
        text-align: center;
        border-radius: 5px;
        font-family: monospace;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }


    .student_table_label_template {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }

    .student_today_table_nav {
        justify-content: right;
        margin-bottom: 1rem;
        font-size: 16px;
    }

    .student_today_table,
    .student_upcoming_table,
    .student_link_table {
        flex-basis: 98%;
        font-size: 12px;
        font-style: var(--monospace);
        text-align: left;
    }



    footer {
        
        font-size: small;
        text-align: center;
    }

    /* ........................ TEACHER PORTAL MOBILE ........................ */

       .tp_background_image {
        background-image: url('/static/images/kandinsky_1500.jpg');
        margin: 1rem 1rem 1rem 1rem;
        width: 98%;
        min-height: 90vh;
    }

    .tp_container_main {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 90vh;
        margin: 0 auto;
        margin-top: 1rem;
        gap: 10px;
        justify-content: center;
        background: rgb(255, 0, 0);
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.8281513288909313) 17%, rgba(246, 242, 61, 0.8085434857536764) 49%, rgba(61, 79, 246, 0.783333401720063) 89%);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    } 

    .tp_item01 {
        grid-row: 1/3;
        grid-column: 1/11;
        background: rgb(232, 14, 34);
        background: radial-gradient(circle, rgba(232, 14, 34, 1) 24%, rgba(231, 195, 53, 0.5676471272102591) 58%, rgba(231, 195, 53, 0.44439782749037116) 100%);
        margin: 0;
        padding: 0;
        justify-content: right;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .teacher_portal_banner {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
    }

    .teacher_portal_banner_image {
        flex-basis: 100%;
        justify-content: center;
    }

    .teacher_portal_banner_image img {
        max-width: 395px;
    }

    .teacher_navbar {
        display: flex;
        flex-basis: 100%;
        align-self: center;
        justify-content: center;
        text-align: center;
    }

    .teacher_navbar ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .teacher_navbar a {
        text-decoration: none;
        font-size: 35px;
        display: block;
    }

    .tp_item02 {
        background: var(--orange_grad);
        margin: 0;
        padding: 0;
    }

    .tp_item02_button {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        margin-bottom: 0.5rem;
    }

    .tp_item03 {
        background: var(--yellow_grad);
        margin: 0;
        padding: 0;
    }

    .tp_item04 {
        background: var(--green_grad);
        margin: 0;
        padding: 0;
    }

    .tp_item05 {
        background: var(--blue_grad);
        margin: 0;
        padding: 0;
    }

    .tp_item06 {
        background: var(--purple_grad);
        margin: 0;
        padding: 0;
    }

    .tp_item01,
    .tp_item02,
    .tp_item03,
    .tp_item04,
    .tp_item05,
    .tp_item06 {
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        text-align: center;
        margin: 0 auto;
        width: 95%;
        border-radius: 5px;
        font-family: monospace;
        font-size: 14px;
        text-align: left;
        padding: 0rem 0.5rem 0rem 0.5rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .tp_item01 {
        text-align: right;
    }

    .tp_item03 input,
    .tp_item04 input,
    .tp_item05 input,
    .tp_item06 input {
        margin: 0 auto;
        width: 180px;
    }

    .tp_item03 textarea,
    .tp_item05 textarea {
        height: 100px;
        width: 180px;
        margin: 0 auto;
    }


    .students_table_label {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem .5rem 0rem;
    }

    /* ........................................ */

    .tp_item03 form {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .add_assignment_label {
        grid-row: 1/2;
        grid-column: 1/5;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem 0rem 0rem;
    }

    .add_assignment_student {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .add_assignment_day {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .add_assignment_class {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    .add_assignment_content {
        grid-row: 2/5;
        grid-column: 3/5;
    }

    .add_assignment_submit {
        grid-row: 5/6;
        grid-column: 2/4;
        margin-top: 1rem;
        align-self: left;
    }

    /* ........................................ */
    .tp_item04 form {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 5px;
        justify-content: center;
    }

    .search_assignments_label {
        flex-basis: 95%;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem 0rem 0rem;
    }

    .search_assignments_submit {
        height: 20px;
    }

    /* ........................................ */
    .tp_item05 form {
        display: flex;
        flex-flow: row wrap;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        gap: 5px;
        justify-content: center;
        align-content: center;
    }

    .add_upcoming_label {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem 0rem 0rem;
    }

    /* ........................................ */
    .tp_item06 form {
        display: grid;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .add_link_label {
        grid-row: 1/2;
        grid-column: 1/10;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem 0rem 0rem;
    }

    .add_link_student {
        grid-row: 2/3;
        grid-column: 2/5;
    }

    .add_link_url {
        grid-row: 3/4;
        grid-column: 2/5;
    }

    .add_link_description {
        grid-row: 2/3;
        grid-column: 6/10;
    }

    .add_link_submit {
        grid-row: 3/4;
        grid-column: 6/10;
    }


    /* ...................... OTHER PAGES MOBILE............................. */

    .assignment_background_image {
        background-image: url('/static/images/kandinsky_1500.jpg');
        margin: 1rem 1rem 1rem 1rem;
        width: 98%;
        min-height: 100vh;
    }

    .general_container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        margin-top: 1rem;
        gap: 10px;
        padding: 1rem 0.25rem 0.25rem 0.25rem;
        justify-content: center;
        align-content: flex-start;
        background: rgb(255, 0, 0);
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.8281513288909313) 17%, rgba(246, 242, 61, 0.8085434857536764) 49%, rgba(61, 79, 246, 0.783333401720063) 89%);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    } 

    .general_banner {
        width: 90%;
        max-height: 150px;
        font-size: 44px;
        background: var(--green_grad);
        border-radius: 5px;
        margin-top: 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .general_heading_banner {
        flex-basis: 60%;
        background: var(--purple_grad);
        border-radius: 5px;
        justify-content: center;
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    h2 {
        font-size: 100%;
    }

    .general_large_box {
        display: flex;
        flex-flow: row wrap;
        width: 95%;
        min-height: 40vh;
        background: var(--yellow_grad);
        border-radius: 5px;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .general_table_container {
        flex-basis: 98%;
        min-height: 25vh;
        background: var(--red_grad);
        border-radius: 5px;
        font-size: 13px;
        font-family: monospace;
        justify-content: center;
        text-align: center;
    }

    .general_banner {
        background: rgb(232, 14, 34);
        background: radial-gradient(circle, rgba(232, 14, 34, 1) 24%, rgba(231, 195, 53, 0.5676471272102591) 58%, rgba(231, 195, 53, 0.44439782749037116) 100%);
        width: 100%;
        margin: 0 auto;
        padding: 0;
        justify-content: right;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .general_heading_banner_image {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
    }

    .general_heading_banner_image img {
        max-width: 375px;
    }

    .general_navbar {
        display: flex;
        flex-basis: 100%;
        align-self: center;
        justify-content: center;
        text-align: center;
    }

    .general_navbar ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .general_navbar a {
        text-decoration: none;
        font-size: 28px;
        display: block;
    }

    .new_student {
        flex-basis: 60%;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        justify-content: center;
        font-size: 13px;
        font-family: monospace;
    }

    .new_student input,
    .new_student textarea {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: 250px;
    }

    .new_student textarea {
        height: 100px;
    }
    .general_medium_box {
        display: flex;
        flex-flow: row wrap;
        width: 98%;
        min-height: 40vh;
        background: var(--yellow_grad);
        border-radius: 5px;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .update_view_assignment {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        font-size: 13px;
        font-family: monospace;
    }

    #update_assignments {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-right: 1rem;
    }

    .update_view_assignment input,
    .update_view_assignment textarea {
        width: 200px;
        margin: 0 auto;
    }

    .update_view_assignment textarea {
        height: 100px;
    }

    .remove_button {
        flex-basis: 60%;
        margin: 0 auto;
    }
    .view_assignment {
        display: flex;
        flex-flow: row;
        width: 100%;
        width: 375px;
        gap: 5px;
        flex-flow: row wrap;
        text-align: left;
        font-size: 15px;
        line-height: 1.5;
        font-family: monospace;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }

    .view_assignment_student,
    .view_assignment_day,
    .view_assignment_subject,
    .view_assignment_note {
        width: 100%;
    }

}

/* ****************************** MIN 800 PIXELS (TABLET) *************************************** */
@media (min-width: 800px) {

    .index_background_image {
        background-image: url('/static/images/kandinsky_1500.jpg');
        margin: 0.25rem 1rem 1rem 1rem;
        width: 98%;
        min-height: 100vh;
    }

    .index_container_main {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        margin-top: 2rem;
        gap: 10px;
        padding: 0.25rem 0.25rem 0.25rem 0.25rem;
        justify-content: center;
        background: rgb(255, 0, 0);
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.8281513288909313) 17%, rgba(246, 242, 61, 0.8085434857536764) 49%, rgba(61, 79, 246, 0.783333401720063) 89%);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_item01 {
        background: rgb(232, 14, 34);
        background: radial-gradient(circle, rgba(232, 14, 34, 1) 24%, rgba(231, 195, 53, 0.5676471272102591) 58%, rgba(231, 195, 53, 0.44439782749037116) 100%);
        flex-basis: 100%;
        justify-content: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_banner_image {
        justify-content: center;
        align-content: center;
    }

    .index_banner_image img {
        max-width: 500px;
        align-self: center;
    }

    .student_navbar {
        display: flex;
        flex-basis: 90%;
        align-self: flex-start;
        justify-content: flex-start;
    }

    .student_navbar ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .student_navbar a {
        text-decoration: none;
        font-size: 18px;
        display: block;
    }

    .index_item02 {
        flex-basis: 100%;
        background: var(--blue_grad);
    }

    .index_item03 {
        flex-basis: 100%;
        background: var(--orange_grad);
        align-content: center;
    }

    .index_item04 {
        flex-basis: 100%;
        background: var(--purple_grad);
    }

    .index_item01 {
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0 auto;
        max-height: 120px;
        width: 98%;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_item02,
    .index_item03,
    .index_item04 {
        flex-basis: 100%;
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 1rem 1rem 1rem 1rem;
        border-radius: 5px;
        font-family: monospace;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }


    .student_table_label_template {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
    }

    .student_today_table_nav {
        justify-content: right;
        margin-bottom: 1rem;
        font-size: 16px;
    }

    .student_today_table,
    .student_upcoming_table,
    .student_link_table {
        flex-basis: 98%;
        font-size: 15px;
        font-style: var(--monospace);
        text-align: left;
    }
   
    footer {
        
        font-size: small;
        text-align: center;
    }


    /* ........................ TEACHER PORTAL (TABLET) ........................ */

    .tp_background_image {
        background-image: url('/static/images/kandinsky_1500.jpg');
        margin: 1rem 1rem 1rem 1rem;
        width: 98%;
        min-height: 100vh;
    }

    .tp_container_main {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        margin-top: 1rem;
        gap: 10px;
        justify-content: center;
        background: rgb(255, 0, 0);
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.8281513288909313) 17%, rgba(246, 242, 61, 0.8085434857536764) 49%, rgba(61, 79, 246, 0.783333401720063) 89%);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .tp_item01 {
        grid-row: 1/3;
        grid-column: 1/11;
        background: rgb(232, 14, 34);
        background: radial-gradient(circle, rgba(232, 14, 34, 1) 24%, rgba(231, 195, 53, 0.5676471272102591) 58%, rgba(231, 195, 53, 0.44439782749037116) 100%);
        margin: 0;
        margin-top: 0.5rem;
        padding: 0;
        justify-content: right;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .teacher_portal_banner {
        display: flex;
        flex-flow: no wrap;
        width: 94%;
        justify-content: right;
    }

    .teacher_portal_banner_image {
        max-width: 500px;
        flex-basis: 75%;
    }

    .teacher_navbar {
        display: flex;
        flex-basis: 23%;
        align-self: flex-end;
        justify-content: flex-end;

    }

    .teacher_navbar ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .teacher_navbar a {
        text-decoration: none;
        font-size: 28px;
        display: block;
    }

    .tp_item02 {
        background: var(--orange_grad);
        margin: 0;
        padding: 0;
    }

    .tp_item03 {
        background: var(--yellow_grad);
        margin: 0;
        padding: 0;
    }

    .tp_item04 {
        background: var(--green_grad);
        margin: 0;
        padding: 0;
    }

    .tp_item05 {
        background: var(--blue_grad);
        margin: 0;
        padding: 0;
    }

    .tp_item06 {
        background: var(--purple_grad);
        margin: 0;
        padding: 0;

    }

    .tp_item01,
    .tp_item02,
    .tp_item03,
    .tp_item04,
    .tp_item05,
    .tp_item06 {
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        text-align: center;
        margin: 0 auto;
        width: 95%;
        border-radius: 5px;
        font-family: monospace;
        font-size: 15px;
        text-align: left;
        align-content: center;
        padding: 0rem 0.5rem 0rem 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .tp_item01 {
        text-align: right;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .tp_item03 input,
    .tp_item04 input,
    .tp_item05 input,
    .tp_item06 input {
        margin: 0 auto;
        width: 200px;
    }

    .tp_item03 textarea,
    .tp_item05 textarea {
        height: 100px;
        width: 200px;
        margin: 0 auto;
    }

    .students_table_label {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem .5rem 0rem;
    }

    /* ........................................ */

    .tp_item03 form {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .add_assignment_label {
        grid-row: 1/2;
        grid-column: 1/5;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem 0rem 0rem;
    }

    .add_assignment_student {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .add_assignment_day {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .add_assignment_class {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    .add_assignment_content {
        grid-row: 2/5;
        grid-column: 3/5;
    }

    .add_assignment_submit {
        grid-row: 5/6;
        grid-column: 2/4;
        margin-top: 1rem;
        justify-content: left;
    }

    /* ........................................ */
    .tp_item04 form {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
    }

    .search_assignments_label {
        grid-row: 1/2;
        grid-column: 1/10;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem 0rem 0rem;
    }

    .search_assignments_student {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    .search_assignments_day {
        grid-row: 2/3;
        grid-column: 4/7;
    }

    .search_assignments_class {
        grid-row: 2/3;
        grid-column: 7/10;
    }

    .search_assignments_keyword {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    .search_assignments_submit {
        grid-row: 3/4;
        grid-column: 5/8;
        height: 20px;
    }

    /* ........................................ */
    .tp_item05 form {
        display: grid;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;

        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .add_upcoming_label {
        grid-row: 1/2;
        grid-column: 1/10;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem 0rem 0rem;
    }

    .add_upcoming_student {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .add_upcoming_day {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .add_upcoming_content {
        grid-row: 2/5;
        grid-column: 4/6;
    }

    .add_upcoming_submit {
        grid-row: 3/4;
        grid-column: 7/9;
        text-align: center;
    }


    /* ........................................ */
    .tp_item06 form {
        display: grid;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .add_link_label {
        grid-row: 1/2;
        grid-column: 1/10;
        text-align: center;
        font-weight: bold;
        font-size: 16px;
        margin: 0rem 0rem 0rem 0rem;
    }

    .add_link_student {
        grid-row: 2/3;
        grid-column: 2/5;
    }

    .add_link_url {
        grid-row: 3/4;
        grid-column: 2/5;
    }

    .add_link_description {
        grid-row: 2/3;
        grid-column: 6/10;
    }

    .add_link_submit {
        grid-row: 3/4;
        grid-column: 6/10;
    }

    /* ....................... OTHER PAGES TABLET ......................... */

    .general_table_container {
        font-size: 16px;
    }

    h2 {
        font-size: 110%;
    }

    .new_student {
        flex-basis: 60%;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        justify-content: center;
        font-size: 15px;
        font-family: monospace;
    }

    .new_student input,
    .new_student textarea {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: 250px;
    }

    .new_student textarea {
        height: 100px;
    }

    .general_medium_box {
        display: flex;
        flex-flow: row wrap;
        width: 70%;
        min-height: 40vh;
        background: var(--yellow_grad);
        border-radius: 5px;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .update_view_assignment {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        font-size: 16px;
        font-family: monospace;
    }

    #update_assignments {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
        margin-right: 1rem;
    }

    .update_view_assignment input,
    .update_view_assignment textarea {
        width: 300px;
        margin: 0 auto;
    }

    .update_view_assignment textarea {
        height: 100px;
    }

    .remove_button {
        flex-basis: 60%;
        margin: 0 auto;
    }

    .view_assignment {
        display: flex;
        width: 500px;
        flex-flow: no wrap;
        text-align: left;
        font-size: 22px;
        line-height: 2;
        font-family: monospace;
        margin-bottom: 2rem;
    }
}

/* ************************** MIN 1200 PIXELS *************************************** */
/* ....................... STUDENT INDEX DESKTOP......................... */
@media (min-width: 1200px) {

    .day_number {
        font-size: 125%;
    }
    
    .index_background_image {
        background-image: url('/static/images/kandinsky_1500.jpg');
        margin: 0.25rem 1rem 1rem 1rem;
        width: 98%;
        min-height: 100vh;
    }

    .index_container_main {
        display: grid;
        width: 100%;
        min-height: 100vh;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: 98px;
        /*grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(10, 1fr);*/
        gap: 20px;
        padding: 1rem 1rem 1rem 1rem;
        justify-content: center;
        background: rgb(255, 0, 0);
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.8281513288909313) 17%, rgba(246, 242, 61, 0.8085434857536764) 49%, rgba(61, 79, 246, 0.783333401720063) 89%);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_item01 {
        grid-row: 1/3;
        grid-column: 1/11;
        background: rgb(232, 14, 34);
        background: radial-gradient(circle, rgba(232, 14, 34, 1) 24%, rgba(231, 195, 53, 0.5676471272102591) 58%, rgba(231, 195, 53, 0.44439782749037116) 100%);
        max-height: 105px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_banner_image {
        justify-content: center;
        align-content: center;
    }

    .index_banner_image img {
        min-width: 500px;
    }

    .student_navbar {
        display: flex;
        flex-basis: 90%;
        align-self: flex-start;
        justify-content: flex-start;
    }

    .student_navbar ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .student_navbar a {
        text-decoration: none;
        font-size: 20px;
        display: block;
    }

    .index_item02 {
        grid-row: 3/11;
        grid-column: 1/7;
        background: var(--blue_grad);
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .index_item03 {
        grid-row: 3/6;
        grid-column: 7/11;
        background: var(--orange_grad);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_item04 {
        grid-row: 6/11;
        grid-column: 7/11;
        background: var(--purple_grad);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_item01 {
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0 auto;
        max-height: 120px;
        width: 98%;
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_item02,
    .index_item03,
    .index_item04 {
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 1rem 1rem 1rem 1rem;
        min-width: 500px;
        border-radius: 5px;
        font-family: monospace;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .index_item02 {
        min-width: 600px;
    }

    .student_table_label_template {
        text-align: center;
        font-weight: bold;
        font-size: 20px;
    }

    .student_today_table_nav {
        justify-content: right;
        margin-bottom: 1rem;
        font-size: 22px;
    }

    .student_today_table {
        font-size: 15px;
    }
    
    .student_upcoming_table,
    .student_link_table {
        font-size: 17px;
        font-style: var(--monospace);
        text-align: left;
    }

    .student_today_table {
        min-width: 575px;
    }

    .student_upcoming_table,
    .student_link_table {
        min-width: 400px;
    }

    footer {
        
        font-size: small;
        text-align: center;
    }

    /* ........................ TEACHER PORTAL ........................ */

    .tp_background_image {
        background-image: url('/static/images/kandinsky_1500.jpg');
        margin: 1rem 1rem 1rem 1rem;
        width: 98%;
        min-height: 90vh;
    }

    .tp_container_main {
        display: grid;
        width: 100%;
        min-height: 90vh;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        /*grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(10, 1fr);*/
        gap: 15px;
        padding: 1rem 1rem 1rem 1rem;
        justify-content: center;
        background: rgb(255, 0, 0);
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.8281513288909313) 17%, rgba(246, 242, 61, 0.8085434857536764) 49%, rgba(61, 79, 246, 0.783333401720063) 89%);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .tp_item01 {
        grid-row: 1/3;
        grid-column: 1/11;
        background: rgb(232, 14, 34);
        background: radial-gradient(circle, rgba(232, 14, 34, 1) 24%, rgba(231, 195, 53, 0.5676471272102591) 58%, rgba(231, 195, 53, 0.44439782749037116) 100%);
        margin: 0;
        margin-top: 0.5rem;
        padding: 0;
        justify-content: right;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .teacher_portal_banner {
        display: flex;
        flex-flow: no wrap;
        width: 94%;
        justify-content: right;
    }

    .teacher_portal_banner_image {
        max-width: 800px;
        flex-basis: 75%;
    }

    .teacher_navbar {
        display: flex;
        flex-basis: 23%;
        align-self: flex-end;
        justify-content: flex-end;

    }

    .teacher_navbar ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .teacher_navbar a {
        text-decoration: none;
        font-size: 33px;
        display: block;
    }

    .tp_item02 {
        grid-row: 3/7;
        grid-column: 1/5;
        background: var(--orange_grad);
        margin: 0;
        padding: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .tp_item03 {
        grid-row: 7/11;
        grid-column: 1/5;
        background: var(--yellow_grad);
        align-content: center;
        margin: 0;
        padding: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .tp_item04 {
        grid-row: 3/6;
        grid-column: 5/11;
        background: var(--green_grad);
        margin: 0;
        padding: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .tp_item05 {
        grid-row: 6/9;
        grid-column: 5/11;
        background: var(--blue_grad);
        margin: 0;
        padding: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .tp_item06 {
        grid-row: 9/11;
        grid-column: 5/11;
        background: var(--purple_grad);
        margin: 0;
        padding: 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .tp_item01,
    .tp_item02,
    .tp_item03,
    .tp_item04,
    .tp_item05,
    .tp_item06 {
        padding: 0.75rem 0.75rem 0.75rem 0.75rem;
        text-align: center;
        margin: 0 auto;
        width: 95%;
        border-radius: 5px;
        font-family: monospace;
        font-size: 15px;
        text-align: left;
        align-content: center;
        padding: 0rem 0.5rem 0rem 0.5rem;
    }

    .tp_item01 {
        text-align: right;
    }

    .tp_item03 input,
    .tp_item04 input,
    .tp_item05 input,
    .tp_item06 input {
        margin: 0 auto;
        width: 200px;
    }

    .tp_item03 textarea,
    .tp_item05 textarea {
        height: 100px;
        width: 200px;
        margin: 0 auto;
    }


    .students_table_label {
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin: 0rem 0rem .5rem 0rem;
    }

    /* ........................................ */

    .tp_item03 form {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        /*grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);*/
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .add_assignment_label {
        grid-row: 1/2;
        grid-column: 1/5;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin: 0rem 0rem 0.5rem 0rem;
    }

    .add_assignment_student {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .add_assignment_day {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .add_assignment_class {
        grid-row: 4/5;
        grid-column: 1/3;
    }

    .add_assignment_content {
        grid-row: 2/5;
        grid-column: 3/5;
    }

    .add_assignment_submit {
        grid-row: 5/6;
        grid-column: 2/4;
        margin-top: 1rem;
        justify-content: left;
    }

    /* ........................................ */
    .tp_item04 form {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        /*grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(9, 1fr);*/
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
    }

    .search_assignments_label {
        grid-row: 1/2;
        grid-column: 1/10;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin: 0rem 0rem 0.5rem 0rem;
    }

    .search_assignments_student {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    .search_assignments_day {
        grid-row: 2/3;
        grid-column: 4/7;
    }

    .search_assignments_class {
        grid-row: 2/3;
        grid-column: 7/10;
    }

    .search_assignments_keyword {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    .search_assignments_submit {
        grid-row: 3/4;
        grid-column: 5/8;
        height: 20px;
    }

    /* ........................................ */
    .tp_item05 form {
        display: grid;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        /*grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(9, 1fr);*/
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .add_upcoming_label {
        grid-row: 1/2;
        grid-column: 1/10;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin: 0rem 0rem 0.5rem 0rem;
    }

    .add_upcoming_student {
        grid-row: 2/3;
        grid-column: 1/3;
    }

    .add_upcoming_day {
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .add_upcoming_content {
        grid-row: 2/5;
        grid-column: 4/6;
    }

    .add_upcoming_submit {
        grid-row: 3/4;
        grid-column: 7/9;
        text-align: center;
    }


    /* ........................................ */
    .tp_item06 form {
        display: grid;
        grid-template-columns: repeat(auto-fill);
        grid-template-columns: repeat(auto-fit);
        grid-template-rows: auto;
        /*grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(9, 1fr);*/
        margin: 0 auto;
        padding: 1rem 1rem 1rem 1rem;
        gap: 10px;
        justify-content: center;
        align-content: center;
    }

    .add_link_label {
        grid-row: 1/2;
        grid-column: 1/10;
        text-align: center;
        font-weight: bold;
        font-size: 18px;
        margin: 0rem 0rem 0.5rem 0rem;
    }

    .add_link_student {
        grid-row: 2/3;
        grid-column: 2/5;
    }

    .add_link_url {
        grid-row: 3/4;
        grid-column: 2/5;
    }

    .add_link_description {
        grid-row: 2/3;
        grid-column: 6/10;
    }

    .add_link_submit {
        grid-row: 3/4;
        grid-column: 6/10;
    }

    /* ...................... OTHER PAGES DESKTOP ............................. */

    .assignment_background_image {
        background-image: url('/static/images/kandinsky_1500.jpg');
        margin: 1rem 1rem 1rem 1rem;
        width: 98%;
        min-height: 100vh;
    }

    .general_container {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;
        margin-top: 1rem;
        gap: 10px;
        padding: 1rem 0.25rem 0.25rem 0.25rem;
        justify-content: center;
        align-content: flex-start;
        background: rgb(255, 0, 0);
        background: linear-gradient(90deg, rgba(255, 0, 0, 0.8281513288909313) 17%, rgba(246, 242, 61, 0.8085434857536764) 49%, rgba(61, 79, 246, 0.783333401720063) 89%);
        border-radius: 5px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .general_banner {
        width: 90%;
        max-height: 150px;
        font-size: 44px;
        background: var(--green_grad);
        border-radius: 5px;
        margin-top: 1rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .general_heading_banner {
        flex-basis: 50%;
        max-height: 70px;
        background: var(--purple_grad);
        border-radius: 5px;
        justify-content: center;
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    h2 {
        font-size: 125%;
    }

    .general_large_box {
        display: flex;
        flex-flow: row wrap;
        width: 95%;
        min-height: 40vh;
        background: var(--yellow_grad);
        border-radius: 5px;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .general_table_container {
        flex-basis: 98%;
        min-height: 25vh;
        background: var(--red_grad);
        border-radius: 5px;
        font-size: 18px;
        font-family: monospace;
        justify-content: center;
        text-align: center;

    }

    .general_banner {
        background: rgb(232, 14, 34);
        background: radial-gradient(circle, rgba(232, 14, 34, 1) 24%, rgba(231, 195, 53, 0.5676471272102591) 58%, rgba(231, 195, 53, 0.44439782749037116) 100%);
        width: 100%;
        margin: 0 auto;
        padding: 0;
        justify-content: right;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .general_banner_image {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
    }

    .general_banner_image img {
        max-width: 395px;
    }

    .general_navbar {
        display: flex;
        flex-basis: 100%;
        align-self: center;
        justify-content: center;
        text-align: center;
    }

    .general_navbar ul {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    .general_navbar a {
        text-decoration: none;
        font-size: 35px;
        display: block;
    }

    .new_student {
        flex-basis: 60%;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        justify-content: center;
        font-size: 18px;
        font-family: monospace;
    }

    .new_student input,
    .new_student textarea {
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        width: 300px;
    }

    .new_student textarea {
        height: 100px;
    }

    .general_medium_box {
        display: flex;
        flex-flow: row wrap;
        width: 70%;
        min-height: 40vh;
        background: var(--yellow_grad);
        border-radius: 5px;
        justify-content: center;
        justify-items: center;
        text-align: center;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }

    .update_view_assignment {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        max-width: 500px;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 1rem 1rem 1rem 1rem;
        font-size: 18px;
        font-family: monospace;
    }

    #update_assignments {
        display: flex;
        flex-flow: row wrap;
        justify-content: right;
        margin-right: 1rem;
    }

    .update_view_assignment input,
    .update_view_assignment textarea {
        width: 300px;
        margin: 0 auto;
    }

    .update_view_assignment textarea {
        height: 100px;
    }

    .remove_button {
        flex-basis: 60%;
        margin: 0 auto;
    }

    .view_assignment {
        display: flex;
        width: 500px;
        flex-flow: no wrap;
        text-align: left;
        font-size: 22px;
        line-height: 2;
        font-family: monospace;
        margin-bottom: 2rem;
    }
}