{% extends "layout.html" %}

{% block title %}
Write a new note!
{% endblock %}

{% block main %}

<body>
    <div class="other_box">
        
        <div class="welcome">
            <header>
                <div class="assignments_nav">
                    <ul>
                        <li>
                            <a href={{ url_for('teacher_portal') }}>Teacher Portal</a>
                        </li>
                        <li>
                            <a href={{ url_for('home') }}>Student Portal</a>
                        </li>
                        <li>
                            <a href={{ url_for('lookup_assignments') }}>Lookup Assignments</a>
                        </li>
                        <li>
                            <a href={{ url_for('add_assignments') }}>Add Assignments</a>
                        </li>
                       
                        <li>
                            <a href={{ url_for('messages') }}>User Mail</a>
                        </li>
                        
                        <li>
                            <a href={{ url_for('notes') }}>Assignment Notes</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}>User Logout</a>
                        </li>
                    </ul>
                </div>
            </header>
        </div>
        <div class = "other_box_over2">
      
    <div class="assignment_form">
        <form action="/add_assignments.html" id="add_assignments" method="POST">
            <input name="add_assignment_student" id="add_assignment_student" placeholder="Student" type="text">
            <br>
            <input name="add_assignment_day" id="add_assignment_day" placeholder="School Day Number" type="text">
            <br>
            <input name="add_assignment_class" id="add_assignment_class" placeholder="Class Name" type="text">
            
            <br> <textarea placeholder="Assignment to Add" name = "assignment"></textarea> <br>
            <input type="submit" value="Add Assignment">
        </form>
    
</div>
        
</div>
    </div>
    </div>
</div>
</body>
{% endblock %}