{% extends "layout.html" %}

{% block title %}

{% endblock %}
Homeschool Planner - Home!
{% block main %}

<body>
    <section id="home_box">
        <div class="welcome">
            <header>
                <nav>
                    <ul>
                        <li><a href={{ url_for('home') }}><img src="/static/images/homeschool_logo_sized.png" alt
                                    text="Homeschool!"></a></li>
                        <li>
                            <a href={{ url_for('messages') }}><i class="bi bi-envelope"></i>&emsp;&emsp; Mail</a>
                        </li>
                        <li>
                            <a href='{{ url_for('notes') }}'><i class="bi bi-journals"></i>&emsp; Notes</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp;Password</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp;Logout</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="section_large">
            <!-- GRID CONTAINER -->
            <div class="section_medium">
                <!-- TODAY / TASKS -->
                <div class="table_lable">
                    <h3> Today is day number {{day_number}}.
                </div>
                </h3>

                <div class="today_table">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Class</th>
                                <th scope="col">Assignment</th>
                                <th scope="col">Status</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assignment in day_assignments %}
                            <tr>
                                <td>{{assignment.subject}}</td>
                                <td>{{assignment.content | convert_links | safe}} </td>
                                <td>{{assignment.completed}}</td>
                                <td>Note</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>

            </div>

            <div class="section_small_one">
                <!-- UPCOMING -->
                <div class="table_lable">
                    <h4>Upcoming:</h4>
                </div>
                <div class="upcoming_table">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">School Day</th>
                                <th scope="col">Task / Assignment</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in upcoming %}
                            <tr>
                                <td>{{ task.day }}</td>
                                <td>{{ task.content }}</td>
                                <td><a href = "{{ url_for('remove_upcoming', upcoming_id = task.id, student_id=student_id) }}">Remove</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="section_small_two">
                <!-- MY LINKS -->
                <div class="table_lable">
                    <h4>My Links:</h4>
                </div>
                <div class="links_table">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Link</th>
                                <th scope="col">Remove </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for link in links %}
                            <tr>
                                <td><a href = "{{ link.link }}" target = "_blank">{{ link.description }}</a></td>
                                <td><a href = "{{ url_for('remove_link', link_id = link.id, student_id=student_id) }}">Remove</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="teacher_portal_link">
                <a href='{{ url_for('teacher_portal') }}'>Teacher Portal (Teachers Only) </a>
            </div>
        </div>
    </section>
</body>
{% endblock %}