{% extends "layout.html" %}

{% block title %}
Write a new note!
{% endblock %}

{% block main %}

<body>       
        <div class="welcome">
            <header>
                <div class="assignments_nav">
                    <ul>
                        <li>
                            <a href={{ url_for('teacher_portal') }}> <i class="bi bi-house-fill"></i>&emsp;Teacher Portal</a>
                        </li>
                    
                        <li>
                            <a href={{ url_for('lookup_assignments') }}> <i class="bi bi-search"></i>&emsp; Lookup Assignments</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp; Password</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp; Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            </header>
                <div class = "table_lable">
                    <div class="lookup_form">
                        <form action="{{url_for('lookup_assignments')}}" id="lookup_assignments" method="POST">
                            <input name="lookup_student" id="lookup_student" placeholder="Student" type="text">
                            <input name="lookup_day" id="lookup_day" placeholder="School Day Number" type="text">
                            
                            <input name="lookup_class" id="lookup_class" placeholder="Class Name" type="text">
                            <input name="lookup_keyword" id="lookup_keyword" placeholder="Keyword" type="text">
                            
                            <input type="submit" value="Search Assignments">
                        </form>
                    </div>
                    </div>
                    <div class = "lookup_table">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th scope="col">School Day</th>
                                    <th scope="col">Student</th>
                                    <th scope="col">Class</th>
                                    <th scope="col">Task / Assignment</th>
                                    <th scope="col">Update</th>
                                    <th scope="col">Delete</th>
                
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in assignment_query %}
                                <tr>
                                   <td>{{record.Assignment.school_day}}</td>
                                   <td>{{record.Student.first_name}}</td>
                                   <td>{{record.Assignment.subject}}</td>
                                   <td>{{record.Assignment.content | convert_links | safe}}</td>
                                   <td><a href = "{{url_for('update_assignment', assignment = record.Assignment.id, student = record.Student.id)}}"<i class="bi bi-pencil-square"></i> </td>
                                   <td><i class="bi bi-trash"></i></td>
                                   {% endfor %} 


                                </tr>
                            </tbody>
                        </table>
                    
                    </div>
                    </div>
                
        </div>
    </div>
    </div>
    </body>
{% endblock %}