{% extends "layout.html" %}

{% block title %}
Add Student
{% endblock %}

{% block main %}

<body> 
<div class = "assignment_background_image">
<div class = "general_container">
    <div class="general_banner">
        <div class="general_heading_banner_image"> <img src="/static/images/homeschool_banner_sized.png"> </div>
        <!-- NAVBAR -->
        <div class="general_navbar">
            <ul>
                <li><a href={{ url_for('home') }}><i class="bi bi-house-fill"></i> </a></li>
                &emsp;<li><a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i></a></li>
                &emsp;<li><a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i> </a></li>
            </ul>
        </div>
    </div>
<div class = "general_medium_box">
        <div class = "general_heading_banner">
<h2>Add a New Student</h2>
        </div>
                <div class="new_student">
                    <form action="/new_student" id="new_student" method="POST" width="100%">
                        <div class="new_student_firstname"><input name="new_student_firstname"
                                id="new_student_firstname" placeholder="New Student First Name" type="text"></div>
                        <div class="new_student_lastname"><input name="new_student_lastname" id="new_student_lastname"
                                placeholder="New Student Last Name" type="text"></div>
                            <div class="new_student_email"><input name="new_student_email" id="new_student_email"
                                    placeholder="New Student Email" type="text"></div>
                                <div class="new_student_note"><textarea placeholder="New Student Note"
                                        name="new_student_note"></textarea> </div>
                                    <div class="new_student_submit"><input class="btn btn-primary" type="submit" value="Add Student"></div>
                    </form>
                </div>


                        </tr>
                    </tbody>
                </table>
    </div>
</div>

</div>
</body>
<footer>
	<div class="image_credit"> Background Image: Wassily Kandinsky "Color Study. Squares with Concentric Circles", 1913 <br>
        Banner logo by Emma E. Stefanuk<div> 
</footer> 
{% endblock %}