{% extends "layout.html" %}

{% block title %}
Write a new note!
{% endblock %}

{% block main %}

<body>
    <div class = "other_box">
        <div class="welcome">
            <header>
                <div class="mininav">
                    <ul>
                        <li>
                            <a href={{ url_for('home') }}><i class="bi bi-house-fill"></i>&emsp;Home</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for('messages') }}><i class="bi bi-envelope"></i>&emsp;Mail</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for('notes') }}><i class="bi bi-journals"></i>&emsp;Notes</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp;Password</a>&emsp;&emsp;
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp;Logout</a>&emsp;&emsp;
                        </li>
                    </ul>
                </div>
            </header>
        </div>
        <div class="other_box_over">
                <div class="note_form_head">
                    <h3>Send a Message</h3>
                </div>


            <div class="note_form">
                <form action="{{url_for('new_message')}}" id="message" method="POST">
                    <input name="message_to" id="message_to" placeholder="Write to" type="text">
                    <br>
                    <input name="message_subject" id="message_subject" placeholder="Message Subject" type="text">
                    <br>
                    <br><textarea placeholder="Type your message here" name = "new_message"></textarea> <br>
                    <input type="submit" value = "Send">
                </form>
            </div>

    </div>
    </div>
</body>


{% endblock %}