{% extends "layout.html" %}

{% block title %}

{% endblock %}
Homeschool Planner - Home!
{% block main %}

<body>
    <section id="home_box">
        <div class="welcome">
            <header>
                <nav>
                    <ul>
                        <li><a href={{ url_for('home') }}><img src="/static/images/homeschool_logo_sized.png" alt
                                    text="Homeschool!"></a></li>
                        <li>
                            <a href={{ url_for('messages') }}><i class="bi bi-envelope"></i>&emsp;&emsp; Mail</a>
                        </li>
                        <li>
                            <a href='{{ url_for('notes') }}'><i class="bi bi-journals"></i>&emsp; Notes</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp;Password</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp;Logout</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="section_large">
            <!-- GRID CONTAINER -->
            <div class="section_medium_teacher">
                <!-- STUDENT LIST -->
                <div class = "student_table_top">
                    <div class="table_lable">
                        <h3> Today is day number {{day_number}}.</h3>
                </div>
                

                <div class="break"></div>
                <div class="students_table">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Student's Portal</th>
                                <th scope="col">Notes</th>
                                <th scope="col">Message</th>
                                <th scope="col">Update</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td><a href = "{{url_for('home', student_id = student.id)}}"> {{student.first_name + " " + student.last_name}}  </a></td>
                                <td><a href = "{{url_for('notes', student_id = student.id)}}"><i class="bi bi-sticky"></i></a></td>
                                <td><a href = "{{url_for('messages', student_id = student.id)}}"><i class="bi bi-chat-dots-fill"></i></a></td>
                                <td><a href = "{{url_for('update_student', student_id = student.id)}}"><i class="bi bi-pencil-square"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
               
                <div class="assignment_form">
                    <div class="assignment_links">
                        <a href='{{ url_for('lookup_assignments') }}'><button class="btn btn-primary">Assignment Search</button></a>
                            <a href = {{ url_for('new_student') }} ><button class="btn btn-primary"> Add Student </button> </a>
                    </div>                  
                  
                    <h4>Add a New Assignment:</h4> 
                    <div class="break"></div>
                    <form action="{{url_for('add_assignment')}}" id="add_assignment" method="POST">
                        <input name="add_assignment_student" id="add_assignment_student" placeholder="Student" type="text">
                        <input name="add_assignment_day" id="add_assignment_day" placeholder="School Day Number" type="text">
                        <input name="add_assignment_class" id="add_assignment_class" placeholder="Class Name" type="text">
                   <textarea placeholder="Assignment to Add" name = "assignment"></textarea> <br>
                   <input class="btn btn-primary" type="submit" value="Add Assignment">
                    </form>
                
            </div>
            </div>
            <div class="break"></div>
            
            </div>
            <div class="section_small_one">
                <!-- UPCOMING -->
                <div class="table_lable">
                    <h4>Add Upcoming:</h4>
                </div>
                <div class="upcoming_add">
                    <form action="{{url_for("teacher_portal", post_type='upcoming')}}" id="upcoming_add" method="POST">
                        <input name="student_upcoming" id="student_upcoming" placeholder="Student" type="text">
                        <br>
                        <input name="day_upcoming" id="day_upcoming" placeholder="School Day" type="text">
                        <br>
                        <textarea placeholder="Upcoming Task" name = "assignment_upcoming"></textarea>
                        <input class="btn btn-primary" type="submit" value="Add Upcoming">
                    </form>
                </div>
            </div>

            <div class="section_small_two">
                <!-- MY LINKS -->
                <div class="table_lable">
                    <h4>Add Student Link:</h4>
                </div>
                <div class="link_add">
                    <form action="{{url_for("teacher_portal", post_type='link')}}" id="link_add" method="POST">
                        <input name="student_link" id="student_link" placeholder="Student" type="text">
                        <br>
                        <input name="link_url" id="link_url" placeholder="Link URL" type="text">
                        <br>
                        <input name="link_description" id="link_description" placeholder="Description" type="text">
                        <br>
                        <input class="btn btn-primary" type="submit" value="Add Upcoming">
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}