{% extends "layout.html" %}

{% block title %}
Update Student Information
{% endblock %}

{% block main %}

<body>
    <div class="other_box">
        <div class="welcome">
            <header>
                <div class="assignments_nav">
                    <ul>
                        <li>
                            <a href={{ url_for('teacher_portal') }}> <i class="bi bi-house-fill"></i>&emsp;Teacher Portal</a>
                        </li>
                    
                        <li>
                            <a href={{ url_for('lookup_assignments') }}> <i class="bi bi-search"></i>&emsp; Lookup Assignments</a>
                        </li>
                        <li>
                            <a href={{ url_for('messages') }}><i class="bi bi-envelope"></i>&emsp; Mail</a>
                        </li>                      
                        <li>
                            <a href={{ url_for('notes') }}><i class="bi bi-journals"></i>&emsp; Notes</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp; Password</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp; Logout</a>
                        </li>
                    </ul>
                </div>
        </div>
        </header>
        <div class="other_box_over2">
            <div class="new_student_all">
                <div class="new_student_banner">
                    Update Student Information: </div>
                <div class="new_student">
                    <form action="/update_student.html" id="update_assignments" method="POST">
                        <div class="new_student_firstname"><input name="update_student_firstname"
                                id="update_student_firstname" placeholder="Student First Name" type="text"></div>
                        <div class="new_student_lastname"><input name="update_student_lastname"
                                id="update_student_lastname" placeholder="Student Last Name" type="text">
                        </div>
                        <div class="new_student_email"><input name="update_student_email" id="update_student_email"
                                placeholder="Student Email" type="text">
                        </div>
                        <div class="new_student_note"><textarea placeholder="Update Student Note"
                                name="update_student_note"></textarea>
                        </div>
                        <div class="new_student_submit"><input class="btn btn-primary" type="submit" value="Update Student Information">
                            <a href={{ url_for('new_student') }}></button></a>
                    </form>
                </div>
            </div>
        </div>

    </div>
    </div>

    </div>
</body>
{% endblock %}