{% extends "layout.html" %}

{% block title %}
Write a new note!
{% endblock %}

{% block main %}

<body>
    <div class="other_box">
        <div class="welcome">
            <header>
                <div class="assignments_nav">
                    <ul>
                        <li>
                            <a href={{ url_for('teacher_portal') }}> <i class="bi bi-house-fill"></i>&emsp;Teacher Portal</a>
                        </li>
                    
                        <li>
                            <a href={{ url_for('lookup_assignments') }}> <i class="bi bi-search"></i>&emsp; Lookup Assignments</a>
                        </li>
                        <li>
                            <a href={{ url_for('messages') }}><i class="bi bi-envelope"></i>&emsp; Mail</a>
                        </li>                      
                        <li>
                            <a href={{ url_for('notes') }}><i class="bi bi-journals"></i>&emsp; Notes</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp; Password</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp; Logout</a>
                        </li>
                    </ul>
                </div>
        </div>
        </header>
<div class = "other_box_over2">
    <div class="assignment_form">
        Update an Assignment: <br>
        <form action="{{url_for('update_assignment')}}" id="update_assignments" method="POST">
            <input name="update_assignment_student" id="update_assignment_student" placeholder="{{student.first_name}} {{student.last_name}}" type="text">
            <br>
            <input name="update_assignment_day" id="update_assignment_day" value="{{assignment.school_day}}" type="text">
            <br>
            <input name="update_assignment_class" id="update_assignment_class" value="{{assignment.subject}}" type="text">
            <br>
            <br> <textarea name = "update_assignment"> {{assignment.content}} </textarea> <br>
            <br> <textarea name = "update_note"> {{assignment.notes.first().content}} </textarea> <br>
            <input type="submit" value="Update Assignment">
        </form>
    </div>
    </div>
</div>
</body>
{% endblock %}