{% extends "layout.html" %}

{% block title %}
Write a new note!
{% endblock %}

{% block main %}

<body>
    <div class="other_box">
        <div class="welcome">
            <header>
                <div class="assignments_nav">
                    <ul>
                        <li>
                            <a href={{ url_for('teacher_portal') }}>Teacher Portal</a>
                        </li>
                        <li>
                            <a href={{ url_for('add_assignments') }}>Add Assignments</a>
                        </li>
                        <li>
                            <a href={{ url_for('lookup_assignments') }}>Lookup Assignments</a>
                        </li>
                        <li>
                            <a href={{ url_for('messages') }}>Mail</a>
                        </li>

                        <li>
                            <a href={{ url_for('home') }}>Student Portal</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}>Notes</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}>Logout</a>
                        </li>
                    </ul>
                </div>
        </div>
        </header>
    </div>

    <div class="assignment_form">
        <form action="/lookup_assignments.html" id="update_assignments" method="POST">
            <input name="update_assignment_student" id="update_assignment_student" placeholder="Student" type="text">
            <br>
            <input name="update_assignment_day" id="update_assignment_day" placeholder="School Day Number" type="text">
            <br>
            <input name="update_assignment_class" id="update_assignment_class" placeholder="Class Name" type="text">
            <br>
            Assignment to Update: <br><textarea name="update_assigment_assignment" width="400px" height="500px"
                font-size="12px"> </textarea><br>
            <input type="submit" value="Update Assignment">
        </form>
    </div>
    </div>
    </div>
</body>
{% endblock %}