{% extends "layout.html" %}

{% block title %}
Write a new note!
{% endblock %}

{% block main %}

<body>
    <div class="other_box">
        <div class="welcome">
            <header>
                <div class="assignments_nav">
                    <ul>
                        <li>
                            <a href={{ url_for('teacher_portal') }}> <i class="bi bi-house-fill"></i>&emsp;Teacher Portal</a>
                        </li>
                    
                        <li>
                            <a href={{ url_for('lookup_assignments') }}> <i class="bi bi-search"></i>&emsp; Lookup Assignments</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('change_password') }}><i class="bi bi-lock"></i>&emsp; Password</a>
                        </li>
                        <li>
                            <a href={{ url_for_security('logout') }}><i class="bi bi-door-closed"></i>&emsp; Logout</a>
                        </li>
                    </ul>
                </div>
        </div>
        </header>
<div class = "other_box_over2">
    <div class="assignment_form">
        
            Student: {{assignment.assigned_to.first_name}} {{assignment.assigned_to.last_name}}
            <br>
            School Day: {{assignment.school_day}}
            <br>
            Subject: {{assignment.subject}}
            <br>
           Assignment: {{assignment.content}} 
           Note: {{assignment.note }} 
       
    </div>
    </div>
</div>
</body>
{% endblock %}

<footer><div class = "image_credit"> Image credit: Wassily Kandinsky "Color Study. Squares with Concentric Circles", 1913 <div>
</footer>